# .gitignore for Visual Studio projects
.vscode/
.vs/
*.exe
*.dll
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.idb
*.log
*.tlog
*.vsxproj
*.ruleset
*.cache
*.csproj.user
*.rsuser
*.suo
*.userprefs
*.tmproj
*.log
*.ncb
*.sbr
*.unsuccessfulbuild
*.opensdf
*.sdf
*.sou
*.xcodeproj/
*.vcxproj*
ipch/
_build/
*.local
*.DS_Store
Thumbs.db
# Exclude library and bin and obj folders
bin/
obj/
LibraryInstallers/
# Exclude temporary files
*.tmp
*.bak